<section id="cart_items" >
    <div class="container" style="background: #f7f6ff">
        <!--/checkout-options-->
        <div class="review-payment">
            <h2>Giỏ Hàng</h2>
        </div>
            <div class="table-responsive cart_info">
                <% if(danhsach.rowCount > 0) {%> 
                    <form action="/updateCart" method="POST">
                <table class="table table-condensed">
                    <thead>
                    <tr class="cart_menu">
                        <td class="image">Sản phẩm</td>
                        <td class="description"></td>
                        <td class="price">Giá</td>
                        <td class="quantity">Số lượng</td>
                        <td class="total">Tổng tiền</td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>     
                                     
                    <% danhsach.rows.forEach(function(sp){%>
                        <tr>
                            
                            <td class="cart_product">
                                <a href=""><img width="110" height="110" src= <%= sp.imgPath %> ></a>
                            </td>
                            <td class="cart_description">
                                <h4><a href= <%= '/' + sp.id %> ><%= sp.name%></a></h4>
                                <p>Mã sản phẩm: <%= sp.id%></p>
                            </td>
                            <td class="cart_price">
                                <p><%= sp.price %></p>
                            </td>
                            <td class="cart_quantity">
                                <div class="cart_quantity_button">                              
                                    <input class="cart_quantity_input" autocomplete="off" size="2" type="number"  min="0" placeholder= <%= sp.number %> name=<%= 'quantity' + sp.id %> >               
                                </div>
                            </td>
                            <td class="cart_total">
                                <p class="cart_total_price"><%= parseInt(sp.price) * parseInt(sp.number)%></p>
                            </td>
                            <td class="cart_delete">
                                <a class="cart_quantity_delete" href= <%= '/addcart?id=' + sp.id + '&delete=1' %> ><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                    <% }); %>
                    </tbody>
                </table>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-primary text-center">Cập nhật</button>
                </div>                
                </form>   
                <div class="col-sm-4">
                    <a href="/checkout.html"><button type="button" class="btn btn-primary text-center">Xuất hóa đơn</button></a>
                 </div>         
                <% } else {%>
                    <h3>Hiện không có sản phẩm nào trong giỏ</h3>
                <% } %>
                <div class="col-sm-4"></div><br><br><br><br>
            </div>
        
    </div>
</section>




