<section id="cart_items" >
    <div class="container" style="background: #f2f2f2;">

        <% if(danhsach.rowCount > 0) {%> 
        <!--/checkout-options-->
        <div class="review-payment">
            <h2>Thanh toán</h2>
        </div>
        
        <div class="table-responsive cart_info">
           
            <table class="table table-condensed">
                <thead>
                <tr class="cart_menu">
                    <td class="image">Sản phẩm</td>
                    <td class="description"></td>
                    <td class="price">Giá</td>
                    <td class="quantity">Số lượng</td>
                    <td class="total">Thành tiền</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                
                    <% danhsach.rows.forEach(function(sp){%>
                        <tr>                           
                            <td class="cart_product">
                                <a href=""><img width="110" height="110" src= <%= sp.imgPath %> ></a>
                            </td>
                            <td class="cart_description">
                                <h4><a href= <%= '/' + sp.id %> ><%= sp.name%></a></h4>
                                <p>Mã sản phẩm: <%= sp.id%></p>
                            </td>
                            <td class="cart_price">
                                <p><%= sp.price %></p>
                            </td>
                            <td class="cart_quantity">
                                <div class="cart_quantity_button">                                                                 
                                    <input class="cart_quantity_input" readonly type="text" name="quantity" value=<%= sp.number %> autocomplete="off" >
                                </div>
                            </td>
                            <td class="cart_total">
                                <p class="cart_total_price"><%= parseInt(sp.price) * parseInt(sp.number)%></p>
                            </td>
                            
                        </tr>
                    <% }); %>              
                
                <tr>
                    <td colspan="4">&nbsp;</td>
                    <td colspan="2">
                        <table class="table table-condensed total-result">
                            <tr>
                                <td style="font-weight: bold;">Thành tiền</td>
                                <td><%= totalMoney %></td>
                            </tr>
                            <tr class="shipping-cost">
                                <td style="font-weight: bold;">Phí giao hàng</td>
                                <td>Miễn phí</td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold;">Tổng hóa đơn</td>
                                <td ><span style="font-weight: bold; color: red;"><%= totalMoney %></span></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
           
        </div>
        <div class="row">
                <div class="container">
                    <form action="/checkout.html" method="POST">
                        <div class="row">
                            <div class="col-75">
                                <h3>Thông tin giao hàng :</h3>
                                <label for="fname"><i class="fa fa-user"></i>Họ và tên</label>
                                <input required style="width: 100%; border-radius: 3px; margin-bottom: 20px; padding: 12px; border: 1px solid #ccc;" type="text" id="fname" name="fullname" placeholder="Nguyễn Văn A">

                                <label for="email"><i class="fa fa-envelope"></i>Số điện thoại</label>
                                <input required style="width: 100%; border-radius: 3px; margin-bottom: 20px; padding: 12px; border: 1px solid #ccc;" type="text" id="email" name="tel" placeholder="0321863455">
                                

                                <label for="adr"><i class="fa fa-address-card-o"></i> Địa chỉ</label>
                                <input required style="width: 100%; border-radius: 3px; margin-bottom: 20px; padding: 12px; border: 1px solid #ccc;" type="text" id="adr" name="address" placeholder="123 CMT8 TP.Hồ Chí Minh">
                                
                            </div>
                        </div>
                        <div class="col-md-4 center-block">
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-primary text-center">Thanh toán</button>
                        </div>
                    </form>
                </div>
            <div class="col-sm-4"></div>
            
            <div class="col-sm-4"></div><br><br><br><br>
        </div>

        <% } else {%>
            <div class="review-payment">
                <h2>Hiện không có sản phẩm nào trong giỏ</h2>
            </div>
        <% } %>
      
    </div>
</section> <!--/#cart_items-->