<div class="container" style="background: #f2f2f2;">
    <div class="col-sm-3">
        <br>
        <br>
        <a href="../acount.html" ><button type="submit" style="font-size: 1.2em; font-style: initial; padding: 7px;width: 90%" class="btn-primary"><i class="fa fa-address-book" aria-hidden="true"></i><b> Thông tin cá nhân</b></button> </a>
        <br>
        <br>
        <a href="../history.html" ><button  type="submit" style="font-size: 1.2em; font-style: initial; padding: 7px;width: 90%" class="btn-primary" ><i class="fa fa-search"style="size: 30em"> </i> <b> Lịch sử mua hàng </b></button></a>
    </div>
    <div class="col-sm-9">
        <br><br>
        <h3 style="align-content: center">Lịch sử mua hàng</h3>
        <br><br>
        <%if(danhsach.rowCount > 0){%>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Mã đơn hàng</th>
                <th>Ngày mua</th>
                <th>Sản phẩm</th>
                <th>Tổng tiền</th>
                <th>Trạng thái</th>
            </tr>
            </thead>
            <tbody>
                <% danhsach.rows.forEach(function(sp){%>
                    <tr>
                        <td style="text-align: center;"><a href=<%= '/dilevery.html?billid=' + sp.userbill %>> <%= sp.userbill%> </a> </td>
                        <td><%= sp.date%></td>
                        <td><%= sp.name%></td>
                        <td><%= parseInt(sp.price) * parseInt(sp.number)%></td>
                        <td><%= sp.status%></td>           
                    </tr>
                <% }); %>          
            </tbody>
        </table>
        <% } else { %>
            <h1>Chưa có giao dịch nào</h1>
        <% } %>
        <br><br><br><br>
    </div>
</div>