<br><br>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h1 style="margin-top: 0px; text-align: center;">LỌC SẢN PHẨM</h1>
                    <br>
                    <h2>Sản phẩm</h2>
                    <div class="panel-group category-products" id="accordian"><!--category-productsr-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href= <%= originURL + 'product=1' + brandParam + catalogParam %> >Mắt kính</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href= <%= originURL + 'product=2' + brandParam + catalogParam %> >Vest</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href= <%= originURL + 'product=3' + brandParam + catalogParam %> >Mũ nón</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href= <%= originURL + 'product=4' + brandParam + catalogParam %> >Trang sức</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href= <%= originURL + 'product=5' + brandParam + catalogParam %> >Quần áo</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href= <%= originURL + 'product=6' + brandParam + catalogParam %> >Túi xách</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href= <%= originURL + 'product=7' + brandParam + catalogParam %> >Giày</a></h4>
                            </div>
                        </div>
                    </div><!--/category-products-->

                    <div class="brands_products"><!--brands_products-->
                        <h2>Thương hiệu</h2>
                        <div class="brands-name">
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href= <%= originURL + productParam + '&brand=1' + catalogParam %> ><span class="pull-right">(50)</span>Việt tiến</a></li>
                                <li><a href= <%= originURL + productParam + '&brand=2' + catalogParam %> ><span class="pull-right">(56)</span>Owen</a></li>
                                <li><a href= <%= originURL + productParam + '&brand=3' + catalogParam %> ><span class="pull-right">(27)</span>5 the way</a></li>
                                <li><a href= <%= originURL + productParam + '&brand=4' + catalogParam %> ><span class="pull-right">(32)</span>4Men</a></li>
                                <li><a href= <%= originURL + productParam + '&brand=5' + catalogParam %>><span class="pull-right">(5)</span>Juno</a></li>
                                <li><a href= <%= originURL + productParam + '&brand=6' + catalogParam %> ><span class="pull-right">(9)</span>BWM</a></li>
                            </ul>
                        </div>
                    </div><!--/brands_products-->
                    <div class="brands_products"><!--brands_products-->
                        <h2>Phân loại</h2>
                        <div class="brands-name">
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href= <%= originURL + productParam + brandParam + '&catalog=1' %> > <span class="pull-right">(50)</span>Thời trang nam</a></li>
                                <li><a href= <%= originURL + productParam + brandParam + '&catalog=2' %> > <span class="pull-right">(56)</span>Thời trang nữ</a></li>
                                
                                <li><a href= <%= originURL + productParam + brandParam + '&catalog=3' %> > <span class="pull-right">(32)</span>Trẻ em</a></li>
                            </ul>
                        </div>
                    </div><!--/brands_products-->

                    <div class="shipping text-center"><!--shipping-->
                        <img src="../user/images/home/shipping.jpg" alt="" />
                    </div><!--/shipping-->

                </div>
            </div>

            <div class="col-sm-9 padding-right">
                   <div class="features_items">                      
                            <h2 class="title text-center">Không tìm thấy sản phẩm phù hợp</h2>                           
                    </div>  
                   
            </div>
        </div>
    </div>
</section>