<div style="margin-left: 30%; margin-right: 30%; margin-top: 3%; font-size: large" class="alert alert-success text-center" role="alert"><span><strong>Chi tiết đơn hàng</strong>.</span></div><br><br>

<div class="container col-75">
    <form>
        <div class="form-group">
            <label for="usr">Mã đơn hàng</label>
            <input readonly type="text" class="form-control" id="usr" value=<%= danhsach.rows[0].userbill %>>
        </div>
    </form>
</div>

<section id="cart_items" >
    <div class="container col-75" style="background: #f7f6ff">

        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                <tr class="cart_menu">
                    <td class="description"> Tên mặt hàng</td>
                    <td class="price">Giá</td>
                    <td class="quantity">Số lượng</td>
                    <td class="total">Tổng tiền</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                
                    <% sum = 0 %>
                    <% danhsach.rows.forEach(function(item){%>  
                        <tr>
                            <td class="cart_description">
                                <h4><%= item.name%></h4>
                                <p><%= 'Mã sản phẩm: ' + item.id %></p>
                            </td>
                            <td class="cart_price">
                                <p><%= item.price %></p>
                            </td>
                            <td class="cart_quantity">
                                <div class="cart_quantity_button">       
                                    <input readonly class="cart_quantity_input" type="text" name="quantity" value=<%= item.number %> >            
                                </div>
                            </td>
                            <td class="cart_total">
                                <p class="cart_total_price"><%=  parseInt(item.number) * parseInt(item.price) %></p>
                                <% sum += parseInt(item.number) * parseInt(item.price) %>
                            </td>
                        </tr>             
                                              
                    <% }); %>

                <tr>
                    <td></td>
                    <td></td>
                    <td style="margin-left: 20%">Tổng tiền: </td>
                    <td> <%= sum %></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<div class="container">
    <form>
        <div class="form-group">
            <label for="usr">Ngày đặt</label>
            <input readonly type="text" class="form-control" id="usr" value=<%= danhsach.rows[0].date %>>
        </div>
        <div class="form-group">
            <label for="pwd">Người nhận</label>
            <input readonly type="text"  class="form-control" id="usr" value= "<%=  danhsach.rows[0].fullname  %>" >
        </div>
        <div class="form-group">
            <label for="pwd">Điện thoại</label>
            <input readonly type="tel" class="form-control" id="usr" value= " <%= danhsach.rows[0].tel %> ">
        </div>
        <div class="form-group">
            <label for="pwd">Địa chỉ</label>
            <input readonly type="text" class="form-control" id="usr" value=" <%= danhsach.rows[0].address %> ">
        </div>

    </form>
</div>