<div style="margin-left: 30%; margin-right: 30%; margin-top: 3%; font-size: large" class="alert alert-success text-center" role="alert"><span><strong>Top 10 sản phẩm hot nhất</strong>.</span></div><br><br>
<div class="container">
    <div class="table-responsive">
        <table class="table" cellspacing="0">
            <thead style="background: #E2DEDE">
            <tr>
                <th>STT</th>
                <th>Mã sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Lượt xem</th>
                <th>Lợi nhuận</th>
            </tr>
            </thead>
            <tbody>
                <% i = 1 %>
                <% danhsach.rows.forEach(function(item){%>  
                <tr>
                    <td><%= i %></td>
                    <td><%= item.id %></td>  
                    <td><%= item.name %></td>     
                    <td><%= item.view %></td> 
                    <td><%= item.profit %></td>   
                </tr>   
                    <% i += 1 %>                                                
                <% }); %>
            </tbody>
        </table>

    </div>
</div>
<div style="margin-left: 30%; margin-right: 30%; margin-top: 3%; font-size: large" class="alert alert-success text-center" role="alert"><span><strong>Top 10 sản phẩm theo loại</strong>.</span></div><br><br>
<div class="container">
    <div class="table-responsive">
        <table class="table" cellspacing="0">
            <thead style="background: #E2DEDE">
            <tr>
                <th>STT</th>
                <th>Mã sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Loại sản phẩm</th>
                <th>Lượt xem</th>
                <th>Lợi nhuận</th>
            </tr>
            </thead>
            <tbody>
                <% i = 1 %>
                <% danhsach.rows.forEach(function(item){%>  
                <tr>
                    <td><%= i %></td>
                    <td><%= item.id %></td>  
                    <td><%= item.name %></td> 
                    <td><%= item.tag %></td>    
                    <td><%= item.view %></td>
                    <td><%= item.profit %></td>  
                </tr>    
                    <% i += 1 %>                                                
                <% }); %>
            
            </tbody>
        </table>

    </div>
</div>
<div style="margin-left: 30%; margin-right: 30%; margin-top: 3%; font-size: large" class="alert alert-success text-center" role="alert"><span><strong>Top 10 sản phẩm theo thương hiệu</strong>.</span></div><br><br>
<div class="container">
    <div class="table-responsive">
        <table class="table" cellspacing="0">
            <thead style="background: #E2DEDE">
            <tr>
                <th>STT</th>
                <th>Mã sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Thương hiệu</th>
                <th>Lượt xem</th>
                <th>Lợi nhuận</th>
            </tr>
            </thead>
            <tbody>
                <% i = 1 %>
                <% danhsach.rows.forEach(function(item){%>  
                <tr>
                    <td><%= i %></td>
                    <td><%= item.id %></td>  
                    <td><%= item.name %></td> 
                    <td><%= item.brand %></td>    
                    <td><%= item.view %></td>
                    <td><%= item.profit %></td>   
                </tr>   
                    <% i += 1 %>                                                
                <% }); %>
                
            </tbody>
        </table>

    </div>
</div>
<div style="margin-left: 30%; margin-right: 30%; margin-top: 3%; font-size: large" class="alert alert-success text-center" role="alert"><span><strong>Top 10 sản phẩm theo danh mục</strong>.</span></div><br><br>
<div class="container">
    <div class="table-responsive">
        <table class="table" cellspacing="0">
            <thead style="background: #E2DEDE">
            <tr>
                <th>STT</th>
                <th>Mã sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Loại danh mục</th>
                <th>Lượt xem</th>
                <th>Lợi nhuận</th>
            </tr>
            </thead>
            <tbody>
                <% i = 1 %>
                <% danhsach.rows.forEach(function(item){%>  
                <tr>
                    <td><%= i %></td>
                    <td><%= item.id %></td>   
                    <td><%= item.name %></td>
                    <td><%= item.catalog %></td>    
                    <td><%= item.view %></td>
                    <td><%= item.profit %></td> 
                </tr>     
                    <% i += 1 %>                                                
                <% }); %>
              
            </tbody>
        </table>

    </div>
</div>